.header{
	width:800px;
	height:80px;
	text-align:center;
	background-color:#BDBDBD;
}

.fooetr{
	background-color:#BDBDBD;
	text-align:center;
}

.leftMenu{
	width:150px;
	height:80px;
	background-color:#D8D8D8;
}

.mainContent{
	width:650px;
	height:500px;
	background-color:#E6E6E6;
}

a{
	display:block;
	padding:px
}